.test {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; /* Set left position to 0 to start from the left side of the screen */
    right: 0; /* Set right position to 0 to end at the right side of the screen */
  }
/* create-account.component.css */

.create-account-container {
  max-width: 500px;
  margin: 20px auto; /* Reduced margin */
  padding: 10px; /* Reduced padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}


.create-account-title {
  text-align: center;
  margin-bottom: 5px;
  color: #333;
}

.create-account-form .form-group {
  margin-bottom: 5px;
}

.form-label {
  display: block;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
  


.background-container {
  width: 100%;
  background-image: url('../../assets/images/pexels-matheusnatan-3297593.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure background covers the entire viewport height */
  position: absolute;
  top: 0;
  left: 0; /* Set left position to 0 to start from the left side of the screen */
  right: 0; 
}
.submit-button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
