<div class="background-container">
<nav class="navbar navbar-expand-sm bg-light navbar-light full-width-navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="demandes">E-quivalence</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a routerLink="create-demande" routerLinkActive="active" class="nav-link">
            <mat-icon>add_circle</mat-icon>
            <span class="nav-text">Ajouter Demande</span>
        </a>
    </li>
      <li class="nav-item">
        <a (click)="profile(userId)" class="nav-link">
          <span class="material-icons">account_circle</span>
          
        </a>
      </li>
      <li class="nav-item">
        <a (click)="logout()" class="nav-link">
          <span class="material-icons">logout</span>
         
        </a>
      </li>
    </ul>
  </div>
</nav>
<br>
  <br><br>
  <br>
<div *ngIf="user">
  <h5>Bonjour {{ user.prenom }} !</h5>
</div>
<br>
  <h2>LISTE DES DEMANDES</h2>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>Diplome</th>
            <th>Réference</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let demande of demandes">
        <tr >
          <td>{{  demande.diplome }}</td>
          <td>{{ demande.numDemande }}</td>
          <td>{{ demande.statut }}</td>
          <td>
             <!-- <button (click)="updateDemande(demande.id)" class="btn btn-info">Modifier</button>
              <button (click)="deleteDemande(demande.id)" class="btn btn-danger" style="margin-left: 10px">Supprimer</button> -->
              <button (click)="demandeDetails(demande.id)" class="btn btn-info" style="margin-left: 10px">View</button>
          </td>
      </tr>
      </ng-container>
  </tbody>
</table>
</div>
