.test {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; /* Set left position to 0 to start from the left side of the screen */
    right: 0; /* Set right position to 0 to end at the right side of the screen */
  }
  
.nav-item-iconn{
  right: 50px;
}
.container {
  margin-top: 200px;
}
body{background-color: #eee}.form-control:focus{color: #495057;background-color: #fff;border-color: #80bdff;outline: 0;box-shadow: 0 0 0 0rem rgba(0,123,255,.25)}.btn-secondary:focus{box-shadow: 0 0 0 0rem rgba(108,117,125,.5)}.close:focus{box-shadow: 0 0 0 0rem rgba(108,117,125,.5)}.mt-200{margin-top:200px}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}
.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-text {
  font-size: 1rem;
  margin-bottom: 5px;
}
.document-button {
  margin-right: 10px;
}
.card-body {
  display: flex;
  flex-direction: column;
}

.card-label {
  font-weight: bold;
  text-transform: none; /* Prevent capitalization */
  margin-bottom: 5px; /* Optional: Add some spacing between label and text */
}

.card-container {
  display: flex;
  flex-direction: column;
}

