/* login.component.css */
/* You can add global styles to this file, and also import other style files */
@import 'https://bootswatch.com/4/journal/bootstrap.css';
.test {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; /* Set left position to 0 to start from the left side of the screen */
  right: 0; /* Set right position to 0 to end at the right side of the screen */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px; /* Removed space between 100 and px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #0056b3;
}

.error {
  margin-top: 10px;
  color: #ff0000;
}


.create-account-link {
  text-align: center;
  margin-top: 10px;
}

.create-account-link a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.create-account-link a:hover {
  text-decoration: underline;
}

.background-container {
  width: 100%;
  background-image: url('../../assets/images/pexels-matheusnatan-3297593.jpg'); /* Replace 'path/to/your/image.jpg' with the actual path to your image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure background covers the entire viewport height */
  position: absolute;
  top: 0;
  left: 0; /* Set left position to 0 to start from the left side of the screen */
  right: 0; 
}
