<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="test">
    <nav class="navbar navbar-expand-sm bg-lightblue navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="demandes" routerLinkActive="active" class="nav-link">E-quivalence</a>
      </li>
      <li class="nav-item" class="center-right">
        <a (click)="logout()" class="nav-link"><mat-icon class="mat-24">logout</mat-icon></a>
       
     </li>
     <li class="nav-item">
      <a (click)="dashboard()" class="nav-link"><mat-icon class="mat-24">insert_chart</mat-icon></a>
    </li>
    </ul>
  </nav>
</div>



  <br>
  <br><br>
  <br><br>
  
<h2>LISTE DES DEMANDES</h2>
<br><br>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Réference </th>
            <th> Diplome </th>
            <th> Statut</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let demande of demandes" >
            <td> {{ demande.numDemande }} </td>
            <td> {{ demande.diplome }} </td>
            <td> {{ demande.statut }} </td>
            <td>
                <button (click) = "updateDemande(demande.id)" class = "btn btn-info"> Modifier l'état</button>
                <button (click) = "deleteDemande(demande.id)" class = "btn btn-danger" style="margin-left: 10px"> Supprimer</button>
                <button (click) = "demandeDetails(demande.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>

<br>
<br><br>
<br><br>
<br>
<br><br>
<br><br>