body {
      font-family: 'Arial', sans-serif;
      background-color: #f8f9fa;
    }
    
    .navbar {
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
    }
    
    .nav-link {
      display: flex;
      align-items: center;
    }
    
    .nav-link .material-icons {
      margin-right: 5px;
    }
    
    .container {
      margin-top: 50px;
    }
    
    .form-group {
      margin-bottom: 20px;
    }
    
    .form-label {
      font-weight: bold;
      font-size: 1.1rem;
      margin-bottom: 10px;
    }
    
    .form-control {
      border-radius: 10px;
      padding: 10px;
      font-size: 1rem;
    }
    
    .error-message {
      color: #d9534f;
      font-size: 0.9rem;
      margin-top: 5px;
    }
    
    .submit-button {
      width: 200px;
      padding: 10px;
      font-size: 1.1rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 10px;
      transition: background-color 0.3s ease;
      margin: 0 auto; /* Center the button horizontally */
      display: block; /* Ensure the button occupies full width */
    }
    
    .submit-button:hover {
      background-color: #0056b3;
    }
    

    .full-width-navbar {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }