/* You can add global styles to this file, and also import other style files */
@import 'https://bootswatch.com/4/journal/bootstrap.css';



.bg-lightblue {
    background-color: rgb(96, 172, 248);
  }
.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 40px;
    background-color: rgb(96, 172, 248);
    text-align: center;
    color: white;
}