.test {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0; /* Set left position to 0 to start from the left side of the screen */
    right: 0; /* Set right position to 0 to end at the right side of the screen */
  }
  
.nav-item-iconn{
  right: 50px;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1e8efd; /* Optional: Add background color */
  padding: 10px 0; /* Optional: Add padding for better appearance */
  text-align: center; /* Optional: Center align text */
}
